/* Estilo general */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: #3498db;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Botón de llamada a la acción */
.button {
  background-color: #3498db;
  color: white;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(52, 152, 219, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.button:active {
  background-color: #1f618d;
  transform: translateY(0);
}

/* Estilo de las imágenes */
img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Contenedor de la página */
.container {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  width: 100%;
}

